{% extends "base.html" %}
{% block title %}Couinterfeit-IC{% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}

<div class="container grey_block">
    <h3>Components Upload instructions</h3>
    <ol>
        <li>Check instructions tab for detailed instructions on creating a zip archive to upload the components.</li>
        <li>Create a zip archive containing the Excel sheet and the images folder.</li>
        <li>Maximum zip file size is 100MB.</li>
        <li>Check Instructions tab for detailed instructions.</li>
    </ol>
    <ol>
        <li>To automate creating the zip file containing the Excel sheet and the images folder, download the following
            app, extract the zip and follow the instructions from instructions tab.</li>
        <a class="btn btn-primary" href="{{ url_for('static', filename='py_scripts/counterfeit_ic_driver.zip') }}"
            download>
            Windows OS : counterfeit_ic_driver.zip
        </a>
    </ol>
</div>

<div class="container grey_block">
    <h2 class="text-center">Add IC Samples</h2>
    <div style="margin: 50px;"></div>

    {% include "_flashmessages.html" %}
    {% from "_formhelpers.html" import render_field %}


    <form method="POST" action="{{ url_for('add_components')}}" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <label class="col-md-6" for="manufacturerSelect">Manufacturer</label>
                <select class="form-control col-md-6" name="manufacturer" id="manufacturer">
                    <option value="-1">Select a Manufacturers</option>
                    {% for manufacturer in manufacturers %}
                    <option value={{ manufacturer.id }}>{{ manufacturer.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-md-6" for="ProductSelect">Product</label>
                <select class="col-md-6 form-control" name="product" id="product">
                    <option value="-1" selected>Select a Product</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.archive, class='form-control') }} {{ form.submit() }}
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/inventory/add_components.js') }}"></script>


{% endblock %}