{% extends "base.html" %}
{% block title %}Couinterfeit-IC{% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}


<div class="container grey_block">
    <h3>Components Upload instructions</h3>
    <ol>
        <li>Check instructions tab for detailed instructions on creating a zip archive to upload the components.</li>
        <li>Create a zip archive containing the Excel sheet and the images folder.</li>
        <li>Maximum zip file size is 100MB.</li>
        <li>Check Instructions tab for detailed instructions.</li>
    </ol>
    <ol>
        <li>To automate creating the zip file containing the Excel sheet and the images folder, download the following
            app, extract the zip and follow the instructions from instructions tab.</li>
        <a class="btn btn-primary"
            href="{{ url_for('static', filename='py_scripts/windows/counterfeit_ic_driver.exe') }}" download>
            Windows OS : counterfeit_ic_driver
        </a>
        <a class="btn btn-primary"
            href="{{ url_for('static', filename='py_scripts/mac_or_linux/counterfeit_ic_driver') }}" download>
            Mac/Linux OS : counterfeit_ic_driver
        </a>
    </ol>
</div>

<div class="container grey_block">
    <h2 class="text-center">Create New Product</h2>
    <div style="margin: 50px;"></div>

    {% include "_flashmessages.html" %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('create_components')}}" role="form" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.manufacturer, class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.product, class='form-control') }} {{ render_field(form.pspec,
            class='form-control')
            }} {{ render_field(form.pimage, class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.archive, class='form-control') }} {{ form.submit() }}
        </div>
    </form>
</div>

{% endblock %}