{% extends "base.html" %}
{% block title %}Couinterfeit-IC{% endblock %}
{% block head %} {{ super() }}{% endblock %}
{% block content %}


<div class="container grey_block">
    <h3>Components Upload instructions</h3>
    <ol>
        <li>Create a zip archive containing the Excel sheet and the images folder.</li>
        <li>Maximum zip file size is 100MB.</li>
        <li>Check Instructions tab for detailed instructions.</li>
        <li>Run Command on Terminal: python pyzip_components_builder.py folder_path.</li>
    </ol>
    <a class="btn btn-primary" href="{{ url_for('static', filename='py_scripts/pyzip_components_builder_test.py') }}"
        download>
        Download omponents Zip Builder
    </a>
</div>

<div class="container grey_block">
    <h2 class="text-center">Create New Product</h2>
    <div style="margin: 50px;"></div>

    {% include "_flashmessages.html" %}
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('create_components')}}" role="form" enctype="multipart/form-data">
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.manufacturer, class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.product, class='form-control') }} {{ render_field(form.pspec,
            class='form-control')
            }} {{ render_field(form.pimage, class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }} {{ render_field(form.archive, class='form-control') }} {{ form.submit() }}
        </div>
    </form>
</div>

{% endblock %}